/* 学习css自定义变量添加---- */
:root {
    --mainColor: #8daeb7;
    --circle: #fff;
  }
  
* {
    margin: 0;
    padding: 0;
    /* css3盒子模型 */
    box-sizing: border-box;
}
.nav-common {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: var(--mainColor);
}
body {
   background-color: #f1f2f6 ; 
   min-width: 1200px;
}
.w {
    width: 50%;
    margin: 0 auto;
    height: 2200px;
    background-color: var(--circle);
    box-shadow: 0 0 10px 4px #ccc;
}
@font-face {
    font-family: 'iconfont';
    src: url('../../font/iconfont.eot');
    src: url('../../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../../font/iconfont.woff2') format('woff2'),
        url('../../font/iconfont.woff') format('woff'),
        url('../../font/iconfont.ttf') format('truetype'),
        url('../../font/iconfont.svg#iconfont') format('svg');
  }
   .iconfont {
   font-family: "iconfont" !important;
    font-size: 80px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
li {
    list-style: none
}
a {
    color: #fff;
    text-decoration: none
}
/* 这里不引入基本样式，选择单独写 */
.person-info {
    /* 将个人主页信息固定定位 */
    position: fixed;
    top: 100px;
    left: 0;
    /* position: relative; */
    width: 300px;
    height: 680px;
    background-color: var(--mainColor);
    border-radius: 0 20px 20px 0;
}
.head-portrait {
    /* position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); */
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 10px;
    border: 1px solid #f1c40f;
    overflow: hidden;
}
.head-portrait img {
   width: 100%;
   height: 100%;
   transition: all .6s;
}
/* 给头像添加动态效果 */
.head-portrait img:hover {
    transform: rotate(360deg);
}
.personal-words {
    margin-top: 4px;
    width: 100%;
    height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.home-info li {
    position: relative;
    width: 200px;
    height: 60px;
    margin-bottom: 5px;
    /* background-color: red; */
    border-bottom: 1px solid #d63031;
    text-align: center;
    color: #fff;
    line-height: 60px;
}
.home-info li a {
    display: block;
    width: 100%;
    height: 100%;
}
/* 给li添加鼠标移入动画效果 */
.home-info li a::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #d63031;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.6s;
    z-index: -1;
}
.home-info li:hover a::before{
    transform: scaleX(1);
}
.home-info .iconfont {
    font-size: 18px;
}
/* 个人主页信息模块结束 */
/* 个人主页文章板块 */
.person-article {
    margin-top: 90px;
}
.person-article h2 {
    text-align: center;
    border-bottom: 2px solid #d63031;
}
.person-article img {
    width: 100%;
}
/* 个人主页页面设置 */
.page-setup {
    position: fixed;
    top: 100px;
    right: 0;
    width: 200px;
    height: 60px;
    background-color: var(--mainColor);
    border-radius: 10px 0 0 10px;
    /* font-size: 18px; */
}
.page-setup ul{
    display: flex;
    justify-content: space-between;
    
}
.page-setup ul li {
    width: 60px;
    height: 60px;
    cursor: pointer;
    /* background-color: #ccc; */
}
.page-setup ul li .iconfont {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 22px;
}
#day-light .day-light-btn{
    color: #fa983a;
}
.report-box {
    /* 将个人主页信息固定定位 */
    position: fixed;
    top: 168px;
    right: 0;
    /* position: relative; */
    width: 200px;
    height: 300px;
    background-color: var(--mainColor);
    border-radius: 20px 0 0 20px;
}
.report {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.report li{
    width: 100%;
    height: 100px;
    line-height: 100px;
}
.report li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    font-size: 18px;
}
.report li .iconfont {
    font-size: 18px;
}